İŞ PROBLEMİ A 

Bir sağlık ve fitness uygulaması şirketi, geliştirdiği mobil uygulamanın genel sağlık göstergeleri üzerindeki etkisini anlamak istemektedir. Şirket, düzenli uygulama kullanımının kullanıcıların adım sayısını ve genel aktivite seviyelerini artırabileceğine inanmaktadır. Bu nedenle şirket, kullanıcıları aşağıdaki şekilde iki gruba ayırmaktadır.

A Grubu: Uygulamayı haftada en az 5 gün kullananlar.

B Grubu: Uygulamayı haftada 5 günden az kullananlar. 


Eğer düzenli uygulama kullanımının adım sayısını artırdığı istatistiksel olarak anlamlıysa, şirket bu bilgiyi kullanıcıları daha fazla hareket etmeye teşvik etmek için kullanmayı amaçlamaktadır. Bu kapsamda tarafınızdan yapılması beklenenler aşağıda yer almaktadır. Bu iş problemini çözerken health_app_usage.csv isimli veri setini kullanınız.

SORU 1 - Yalnızca gerekli kütüphaneleri ve testleri çalışma ortamına yükleyiniz. (5 puan) - Kullanılmadığı halde yüklenmiş kütüphane ve testlerin her biri için 1 puanınız düşürülecektir.

In [4]:
import pandas as pd 
from scipy.stats import  shapiro, levene, ttest_ind, mannwhitneyu

SORU 2 - Veri setini çalışma ortamına yükleyiniz. (5 puan)

In [6]:
df = pd.read_csv('other/vize_23/health_app_usage.csv')

SORU 3 - Veriden edindiğiniz ilk izlenim nedir? (15 puan)
            a)	Veri setinin baştan ve sondan ilk 10 satırını görüntüleyiniz. (5 puan)
            b)	 Karşılaştırma yaptığınız gruplar içerisinde, önemli gördüğünüz hususlar (örneğin, grupların ortalama değerleri gibi) hakkında yorum yapınız. (10 puan)

SORU 3a

In [7]:
df.head(10)

,Grup,Yas,Cinsiyet,Ortalama_Kalp_Atis_Hizi,Gunluk_Uyku_Suresi,Haftalik_Ortalama_Adim_Sayisi
0,A,62,Kadın,73,8,920
1,A,18,Erkek,65,6,920
2,A,21,Erkek,60,7,902
3,A,21,Erkek,68,8,943
4,A,57,Kadın,75,6,840
5,A,27,Erkek,75,8,963
6,A,37,Kadın,71,6,798
7,A,39,Erkek,64,6,899
8,A,54,Kadın,99,7,830
9,A,41,Kadın,88,6,987

In [8]:
df.tail(10)

,Grup,Yas,Cinsiyet,Ortalama_Kalp_Atis_Hizi,Gunluk_Uyku_Suresi,Haftalik_Ortalama_Adim_Sayisi
190,B,42,Erkek,97,6,1040
191,B,33,Erkek,87,7,981
192,B,59,Erkek,96,7,1067
193,B,36,Erkek,91,8,913
194,B,58,Kadın,89,7,995
195,B,33,Erkek,89,6,993
196,B,29,Kadın,93,8,1030
197,B,56,Kadın,72,7,982
198,B,47,Erkek,92,6,1058
199,B,19,Kadın,76,7,1016

SORU - 3b

İş problemini incelediğimizde, adım sayısı ile uygulama kullanımı arasındaki ilişkiyi kontrol etmemiz gerektiği sonucuna varıyoruz. Bu işlem için aşağıdaki kodu kullanabiliriz:

In [9]:
df.groupby('Grup').agg({'Haftalik_Ortalama_Adim_Sayisi': 'mean'})

      Haftalik_Ortalama_Adim_Sayisi
Grup
A                            900.41
B                           1005.56

Bu kod, 'Grup' sütununa göre verileri gruplar ve her bir grubun 'haftalık ortalama adım sayısının' ortalamasını hesaplar.

Şimdi bulduğumuz sonuca göre, uygulamayı 5 saatten az kullananların daha fazla adım attığı sonucuna ulaşabiliriz. Ancak bu sonucun istatistiksel olarak anlamlı olup olmadığını değerlendirmek için ileri istatistiksel analizler yapmamız gerekebilir.

SORU 4 - %1 anlamlılık düzeyi için aşağıdaki hususları içerek şekilde istatistiksel testlerinizi yapınız ve sonuçları yorumlayınız. Kullanacağınız tüm testlerin temel-alternatif hipotezini ve değerlendirme kriterini açıkça belirtiniz. Her bir test için elde edeceğiniz test istatistiği ve p-value’nin yorum olarak ilgili kodun hemen altına yazılması ve yorumlanması beklenmektedir. (45 puan)
    a)	Doğru istatistiksel testin hangisi olduğuna karar verebilmek için sınamanız gereken varsayımlar nelerdir gösteriniz. Gerekli değilse varsayımı sınamayınız. (20 puan)
    b)	Nihai test ve sonuçlarını gösteriniz. (15 puan)
    c)	Nihai test sonuçlarını dikkate alarak iş problemini yorumlayınız. (10 puan)

SORU 4a

############################
#Normallik Varsayımı (shapiro)
############################


H0: Normal dağılım varsayımı sağlanmaktadır.
H1: Normal dağılım varsayımı sağlanmamaktadır.


Kriterler:

Eğer p-değeri 0.01'den küçükse, null hipotezi (H0) reddedilir.

Eğer p-değeri 0.01'den büyük veya eşitse, null hipotezi (H0) reddedilemez.

In [12]:
test_stat, pvalue = shapiro(df.loc[df['Grup']== 'A', 'Haftalik_Ortalama_Adim_Sayisi'])
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9732, p-value = 0.0390

In [13]:
test_stat, pvalue = shapiro(df.loc[df['Grup']== 'B', 'Haftalik_Ortalama_Adim_Sayisi'])
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9727, p-value = 0.0360

 p-değerleri anlamlilik duzeyinden (0.01) büyük olduğu için, null hipotezi reddedilemez. Veriler normal dağılmaktadır. Diğer varsayımız olan Varyans Homojenliği varsayımına geçilir.

############################
Varyans Homojenliği Varsayımı (levene)
############################

H0: Grupların varyansları homojendir.

H1: Grupların varyansları homojen değildir.

Kriterler:

Eğer p-değeri 0.01'den küçükse, null hipotezi (H0) reddedilir.

Eğer p-değeri 0.01'den büyük veya eşitse, null hipotezi (H0) reddedilemez.

In [19]:
test_stat, pvalue = levene(df.loc[df['Grup']== 'A', 'Haftalik_Ortalama_Adim_Sayisi'],
       df.loc[df['Grup']== 'B', 'Haftalik_Ortalama_Adim_Sayisi'])
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.3568, p-value = 0.5510

Varyans homojenliği varsayımı da sağlanmıştır. Parametrik testi kullanmamız gerektiği sonucuna ulaşırız.

SORU 4b

Grup sayısı 2 olduğu için parametrik testlerden t testinin kullanılması gerekmektedir.


H0: A ve B gruplarının haftalık ortalama adım sayılarının miktarları arasında istatistiksel olarak anlamlı bir fark yoktur.


H1: A ve B gruplarının haftalık ortalama adım sayılarının miktarları arasında istatistiksel olarak anlamlı bir fark vardır.

ya da


H0: M0 — M1 = 0

Ha: M0 — M1 ≠ 0

Kriterler:

Eğer p-değeri 0.01'den küçükse, null hipotezi (H0) reddedilir.

Eğer p-değeri 0.01'den büyük veya eşitse, null hipotezi (H0) reddedilemez.

In [20]:
test_stat, pvalue = ttest_ind(df.loc[df['Grup']== 'A', 'Haftalik_Ortalama_Adim_Sayisi'],
          df.loc[df['Grup']== 'B', 'Haftalik_Ortalama_Adim_Sayisi'],
          equal_var=True)
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = -14.7861, p-value = 0.0000

A ve B gruplarının haftalık ortalama adım sayılarının miktarları arasında istatistiksel olarak anlamlı bir fark vardır.

SORU 4c

Düzenli uygulama kullanımının adım sayısını artırdığı savı istatistiksel olarak anlamlıdır.

SORU 5 - %5 anlamlılık düzeyi için 4. soruda elde ettiğiniz sonuçları tekrar yorumlayınız. Yalnızca gerekli olduğunu düşündüğünüz testleri tekrarlamanız beklenmektedir. Diğer türlü 4. soruda elde ettiğiniz test sonuçlarını kopyalayıp altına yorumlarınızı yazabilirsiniz. (30 puan)

############################
#Normallik Varsayımı (shapiro)
############################

H0: Normal dağılım varsayımı sağlanmaktadır.


H1: Normal dağılım varsayımı sağlanmamaktadır.


Kriterler:

Eğer p-değeri 0.05'den küçükse, null hipotezi (H0) reddedilir.
Eğer p-değeri 0.05'den büyük veya eşitse, null hipotezi (H0) reddedilemez.

In [21]:
test_stat, pvalue = shapiro(df.loc[df['Grup']== 'A', 'Haftalik_Ortalama_Adim_Sayisi'])
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9732, p-value = 0.0390

In [22]:
test_stat, pvalue = shapiro(df.loc[df['Grup']== 'B', 'Haftalik_Ortalama_Adim_Sayisi'])
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9727, p-value = 0.0360

p-değerleri < 0.05 oldugu için HO reddedilir. Normal dağılım varsayımı sağlanamamaktadır. Parametrik olmayan testlerden iki grup ortalaması için kullanılan mannwhitneyu testi nihai test olarak kullanılacaktır.

############################
#Nihai Test (mannwhitneyu)
############################

H0: A ve B gruplarının haftalık ortalama adım sayılarının miktarları arasında istatistiksel olarak anlamlı bir fark yoktur.

H1: A ve B gruplarının haftalık ortalama adım sayılarının miktarları arasında istatistiksel olarak anlamlı bir fark vardır.

ya da

H0: M0 — M1 = 0

H1: M0 — M1 ≠ 0


Kriterler:

Eğer p-değeri 0.05'den küçükse, null hipotezi (H0) reddedilir.

Eğer p-değeri 0.05'den büyük veya eşitse, null hipotezi (H0) reddedilemez.

In [24]:
test_stat, pvalue =  mannwhitneyu(df.loc[df['Grup']== 'A', 'Haftalik_Ortalama_Adim_Sayisi'],
                                  df.loc[df['Grup']== 'B', 'Haftalik_Ortalama_Adim_Sayisi'])
print("Test Stat = %.4f, p-value = %.4f" % (test_stat, pvalue))

Test Stat = 619.5000, p-value = 0.0000

A ve B gruplarının haftalık ortalama adım sayılarının miktarları arasında istatistiksel olarak anlamlı bir fark yoktur olarak kurduğumuz H0 hipotezi reddedilir. Düzenli uygulama kullanımının adım sayısını artırdığı istatistiksel olarak anlamlıdır.

SORU - 6 Seçtiğiniz iş probleminin nedenini kısaca açıklayınız. Kararınızı etkileyen faktörler nelerdir? (10 puan)